/* ----------------------------------------- */
/* ------------------RESET------------------ */
/* ----------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ----------------------------------------- */
/* -----------------GÉNÉRAL----------------- */
/* ----------------------------------------- */

body {
    font-family: 'Raleway';
    max-width: 1400px;
    margin: 0 auto;
    padding: 48px 20px 0px 20px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #0065fc;
}


h2 {
    font-size: 22px;
    font-weight: 700;
}


h4 {
    font-size: 18px;
    font-weight: 700;
}

h5 {
    font-size: 16px;
    font-weight: 700;
}

h6 {
    font-size: 16px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
}

b {
    font-weight: 700;
}

/* ----------------------------------------- */
/* ------------------HEADER----------------- */
/* ----------------------------------------- */
header{
    display: flex;
    flex-direction: column;
}
#header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 60px 0px;
}

#header__logo img{
    width: 61px;
    height: 19px;
}



.nav__links {
    display: flex;
    flex-direction: row;
}

menu {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}

menu li {
    width: 120px;
    margin-left: 40px;
    text-align: center;
}

.blue-bar {
    position: absolute;
    margin-left: -21px;
    top: 0;
    background: #0065fc;
    width: 162px;
    height: 2px;
    opacity: 0;
}

menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    
}

menu a:hover {
    color: #0065fc;
}

menu a:hover .blue-bar {
    opacity: 1;
}

/* ----------------------------------------- */
/* ----------------------------------------- */

#header__title1 {
    margin-top: 0px;
    font-weight: 700;
    font-size: 22px;
}

#header__title2 {
    font-size: 16px;
    font-weight: 400;
    padding: 30px 0px 30px 0px;
    
}

/* ----------------------------------------- */
/* ----------------------------------------- */

#header__search form{
    display: flex;
    flex-direction: row;
    height: 51px;
}

form input {
    font-size: 18px;
}

#search--icon {
    display: flex;
    min-width: 50px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    font-size: 20px;
}
/* min-height et min-width pour garder la taille en responsive mobile. */


#search--search input {
    border: solid 1px #f2f2f2;
    width: 230px;
    height: 50px;
}

#search--search ::placeholder {
    padding-left: 10%;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway';
}

#search--submit input {
    font-weight: bold;
    color: white;
    background: #0065fc;
    border-color: #0065fc;
    border-style: solid;
    width: 132px;
    height: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#search--submit button {
    display: none;
    color: white;
    background: #0065fc;
    border-color: #0065fc;
    border-style: solid;
    min-width: 50px;
    min-height: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* ----------------------------------------- */
/* ----------------------------------------- */

#header__filter {
    display: flex;
    align-items: center;
    max-width: 1000px;
    padding: 30px 0px 30px 0px;
    height: 50px;
}

.filter__choice {
    display:flex;
    gap: 20px;
    width: 100%;
}

#header__filter h4 {
    margin-right: 20px;
}

#header__filter button {
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 25px;
    max-width: 226px;
    padding: 0px 5px 0px 5px;
    height: 50px;
    background: white;
    border-color: #d9d9d9;
    border-style: solid;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    
}

#header__filter button i {
    color: #0065fc;
    margin: 0px 10px 0px 0px;
    font-size: 22px;
}

#header__filter button:hover {
    background-color: #deebff;
}

/* ----------------------------------------- */
/* ----------------------------------------- */

#header__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    block-size: 24px;
}

#header__info h6 {
    padding-left: 10px;
}

.info {
    border-radius: 50%;
    font-size: 10px;
    width: 24px;
    height: 24px;
    border: #d9d9d9 solid 2px;
    color: #0065fc;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    box-sizing: border-box; /* Permet de conserver la taille exacte des éléments malgré les padding et les bordures */
}

/* ----------------------------------------- */
/* ---------------HARBORING----------------- */
/* ----------------------------------------- */

#harboring {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

#harboring--title {
    
 
    padding-bottom: 23px;
}

#harboring__marseille {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #f2f2f2;
    border-radius: 20px;
    max-width: 63%;
    padding:40px 40px 40px 40px;
}

#harboring__marseille__lodging {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
   
    gap: 30px;
}

.lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 246px;
    height: 199px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: #d9d9d9 3px 3px 10px 2px;
}

.lodging img {
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}

.lodging__name {
    font-weight: bold;
    font-size: 1em;
    margin-left: 1em;
}

.lodging__price {
    margin-left: 1em;
}

.lodging__star {
    margin-left: 1em;
    display: flex;
}

#more {
    padding-top: 20px;
    
    
    
    
}

/* ----------------------------------------- */
/* --------------MOSTPOPULAR---------------- */
/* ----------------------------------------- */

#harboring__mostpopular {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    
    width: 30%;
    padding: 40px 20px 0px 20px;
    background-color: #f2f2f2;
    border-radius: 20px;
    
}

#mostpopular {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 33px;
    align-content: center;
    min-width: 230px;  
}
/* utilisation du grid pour garder les width des cards à la  meme taille  */

#mostpopular__title-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    min-width: 230px;
    
    
    
    padding-bottom: 25px;
    
}

#mostpopular--title {
    font-weight: bold;
    font-size: 22px;
}

#mostpopular--icon {
    
    align-self: flex-end; /* aligne le bas de l'icône avec le bas du texte */
}

span.graph {
    color: #0065fc;
    font-size: 18px;
}

.mostpopular__lodging {
    display: grid;
    justify-content: center;
    
    
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(3, 1fr);
    
    
    height: 134px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: #d9d9d9 3px 3px 10px 2px;
}

.mostpopular--title-price-star {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
}

.mostpopular--title {
    padding-top: 16px;
    font-weight: bold;
    max-width: 178px;
}

.mostpopular--price {
    padding-top: 7px;
}

.mostpopular__lodging img {
    object-fit: cover;
    width: 100%;
    height: 134px;
    border-radius: 15px 0px 0px 15px;
}

.mostpopular--star {
    display: flex;
    margin-top: auto;
    margin-bottom: 12px;
}

span.star1 {
    color: #0065fc;
    font-size: 12px;
}

span.star2 {
    color: #0065fc;
    font-size: 12px;
}

span.star3 {
    color: #0065fc;
    font-size: 12px;
}

span.star4 {
    color: #0065fc;
    font-size: 12px;
}

span.star5 {
    color: #f2f2f2;
    font-size: 12px;
}

/* ----------------------------------------- */
/* -----------------ACTIVITE---------------- */
/* ----------------------------------------- */

#activity {
    margin-top: 20px;
    max-width: 1350px;
}

#activity--title {
    padding-bottom: 20px;
}

#activity--title-mobile {
    display: none;
}

#activity__marseille {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4%;
    width: 100%;
}

.activity__places {
    display: flex;
    flex-direction: column;
    height: 445px;
    max-width: 302px;
    border-radius: 20px;
    box-shadow: #d9d9d9 3px 3px 10px 2px;
}

.activity__picture {
    height: 100%;
    

    
}
.activity__picture img {
    height: 100%;
    max-height: 389px;
    max-width: 302px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activity__places--title {
    margin-top: 10px;
    margin-left: 10px;
    height: 43px;
    font-weight: 700;
}

/* ----------------------------------------- */
/* ------------------FOOTER----------------- */
/* ----------------------------------------- */

FOOTER {
    background: #f2f2f2;
    max-width: 1350px;
}

#footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: 70px;
    width: 70%;
}

footer li {
    margin-bottom: 12px;
}

footer h4 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 45px;
    margin-bottom: 20px;
}

footer a {
    font-size: 1em;
    line-height: 0.5em;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------RESPONSIVE TABLETTE------------ */
/* ----------------------------------------- */
/* ----------------------------------------- */

@media screen and (max-width: 992px) {
    body {
        padding: 40px 50px 0px 50px;
    }

    /* ----------------------------------------- */
    /* ------------------HEADER----------------- */
    /* ----------------------------------------- */

    nav li {
        text-align: right;
        margin: 0;
    }

    .blue-bar {
        display: none;
    }
    .filter__choice {
        justify-content: space-between;
        gap: 10px;
    }
    

    /* ----------------------------------------- */
    /* ---------------HARBORING----------------- */
    /* ----------------------------------------- */

    #harboring {
        flex-direction: column;
        
    }
    #harboring__marseille {
        max-width: 100%
    }
    #more {
        padding-top: 40px;
    }

    /* ----------------------------------------- */
    /* --------------MOSTPOPULAR---------------- */
    /* ----------------------------------------- */

    #harboring__mostpopular {
        margin-top: 40px;
        margin-left: 0;
        width: auto; 
        padding: 40px 20px 40px 20px;
    }
    
    #mostpopular {
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: none;
        gap: 23px;
        max-width: 100%;
    }

    .mostpopular__lodging img {
        height: 134px;
        width: 100%;
        object-fit: cover;
    }
    

    .mostpopular--title {
        padding-top: 12px;
        max-width: 150px;
        
    }
    .mostpopular--title h5{
       font-size: 14px;
    }

    .mostpopular--price {
        padding-top: 7px;
    }
    .mostpopular--price p{
      font-size: 13px;  
    }
    .mostpopular--title-price-star {
        max-width: 150px;
    }

    .mostpopular--star {
        margin-top: auto;
        margin-bottom: 12px;
    }
    /* ----------------------------------------- */
    /* -----------------ACTIVITE---------------- */
    /* ----------------------------------------- */
    
    .activity__places {
        
        height: 267px;
        max-width: 182px;
    }

    .activity__picture {
        height: 100%;
        width: 100%;
    
        
    }
    .activity__picture img {
        max-height: 218px;
    }

    /* ----------------------------------------- */
    /* ------------------FOOTER----------------- */
    /* ----------------------------------------- */

    footer {
        max-width: 880px;
    }
    #footer__nav{
        width: 80%;
    }
}
/* ----------------------------------------- */
/* ----------------------------------------- */
/* -----------RESPONSIVE MOBILE------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

@media screen and (max-width: 768px) {
    body {
        padding: 0px 0px 0px 0px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 3950px;
    }
    /* ----------------------------------------- */
    /* ------------------HEADER----------------- */
    /* ----------------------------------------- */

    #header__title1,
    #header__title2,
    #header__filter,
    #header__info {
        padding: 20px;
    }

    #header__nav {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    #header__logo {
        margin-bottom: 48px;
    }

    nav li {
        text-align: center;
        margin: 0;
    }

    nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    menu {
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 0;
    }

    menu li {
        width: 100%;
        margin: 0px;
    }

    .blue-bar {
        display: flex;
        position: relative;
        margin: 0px;
        padding: 0;
        top: auto;
        bottom: -45px;
        background: #f2f2f2;
        width: 100%;
        height: 3px;
        opacity: 1;
    }

    menu a:hover .blue-bar {
        background: #0065fc;
    }
    #header__title1 {
        padding: 0px 20px 0px 20px;
    }

    #header__title2 {
        padding: 20px 20px 0px 20px;
       
    }

    /* ----------------------------------------- */
    /* ----------------------------------------- */
    #header__search{
        padding: 20px 20px 36px 20px;
    }
    #search--search {
        width: 100%;
    }

    #search--search input {
        width: 100%;
    }

    #search--submit input {
        display: none;
    }

    #search--submit button {
        display: block;
    }

    /* ----------------------------------------- */
    /* ----------------------------------------- */

    #header__filter {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 20px 100px 20px;
    }
    #header__filter button {
        font-size: 11px;
        border-radius: 25px;
        max-width: 500px;
        
    }
    #header__filter h4 {
        padding-bottom: 20px;
    }

    .filter__choice {
        display: grid; /* passage du display en grid pour garder pour du width 100% de la largeur */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 14px;
        grid-row-gap: 17px;
        width: 100%;   
    }

    .filter__choice i {
        font-size: 18px;
    }

    /* ----------------------------------------- */
    /* ----------------------------------------- */

    #header__info {
        padding-top: 40px;
    }

    /* ----------------------------------------- */
    /* ---------------HARBORING----------------- */
    /* ----------------------------------------- */

    #harboring {
        flex-direction: column-reverse;
        max-height: 3950px;
        width: 100%;
    }

    #harboring--title {
        padding-bottom: 19px;
    }

    #harboring__marseille {
        
        max-height: 5000px;
        background-color: white;
        padding-bottom: 73px;
        padding-left: 0;
        padding:26px 20px 70px 20px;
    }

    #harboring__marseille__lodging {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap:12px;
        height: auto;
        
        width: 100%;
    }

    .lodging {
        width: 98%;
        height: 199px;
    }

    .lodging img {
        width: 100%;
    }

    #more {
        display: none;
    }

    /* ----------------------------------------- */
    /* --------------MOSTPOPULAR---------------- */
    /* ----------------------------------------- */

    #harboring__mostpopular {
        
        margin-top: 0;
        width: 100%;
        max-width: 762px;
        max-height: 700px;
        border-radius: 0px;
        padding:26px 0px 50px 0px;
    }

    #mostpopular {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 33px;
        
        margin-right: 0;
        max-width: 100%;
        max-height: 500px;
        gap: 20px;
        padding: 20px 30px 00px 20px;
    }

    #mostpopular__title-icon {
        padding: 00px 20px 20px 20px;
        max-width: 100%;
        margin-right: 0px;
        
    }

    #mostpopular--icon {
        align-self: flex-start;
    }

    .mostpopular__lodging {
        
        width: 100%;
        max-width: 762px;
        margin-left: 0;
        margin-right: 0;
    }

    .mostpopular__lodging img {
        object-fit: cover;
        max-width: 137px;
        height: 134px;
        width: 100%;
        max-width: 450px;
    }

    .mostpopular--title-price-star {
        max-width: 100%;
        
    }

    .mostpopular--title {
        padding-top: 16px;
        max-width: 150px;
    }

    /* ----------------------------------------- */
    /* -----------------ACTIVITE---------------- */
    /* ----------------------------------------- */

    #activity {
        display: flex;
        flex-direction: column;
        
        padding: 0px 20px 0px 20px;
        
        margin-top: 0px;
    }

    #activity__marseille {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap:25px;
    }

    .activity__places {
        min-width: 100%;
        height: 190px;
        margin-bottom: 20px;
    }
    .activity__picture {
        height: 134px;
        max-width: 800px;
    }
    .activity__places img {
        max-width: 800px;
        
    }

    .activity__places--title {
        max-height: 20px;
    }

    .activity__places--title h5 {
        
        margin-left: 19px;
        margin-top: 15px;
    }

    /* ----------------------------------------- */
    /* ------------------FOOTER----------------- */
    /* ----------------------------------------- */

    FOOTER {
        width: 100%;
        margin: 0 auto;
    }

    #footer__nav {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: auto;
    }

    #footer__about,
    #footer__harboring,
    #footer__assistance {
        margin-left: 30px;
    }
}
/* ----------------------------------------- */
/* -------AMELIORATION POSSIBLE------------ */
/* ----------------------------------------- */
/* commande javascript pour améliorer le flebox de #harboring__marseille__lodging
en  modifiant le justify-content au moment du wrap

const container = document.querySelector('#harboring__marseille__lodging');

function updateJustifyContent() {
  if (container.offsetWidth < container.scrollWidth) {
    container.style.justifyContent = 'space-between';
  } else {
    container.style.justifyContent = 'space-around';
  }
}

window.addEventListener('resize', updateJustifyContent);
updateJustifyContent(); */