html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
body {
    font-family: 'Raleway';
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 40px 0px 40px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
    font-weight:500 ;
    font-size: 1em;
}
a:hover {
    color: #0065fc;
}
h1 {
    font-weight: 700;
    font-size: 22px;
}
h2 {
    font-size: 22px;
    font-weight: 400;
}
h3{
    font-size: 18px;
    font-weight: 700;
}
h4{
    font-size: 16px;
    font-weight: 700;   
}
h5{
    font-size: 16px;
    font-weight: 400;    
}
p{
    font-size: 14px;
    font-weight: 400;   
}
b{
    font-weight: 700;
}

/* --------------------------------------- */

#header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100
}
#header__logo {
    width: 61px;
    height: 19px;
}
#header__title {
    display: none;
}
.nav__links {
    display: flex;
    flex-direction: row;
}
menu {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}

menu li {
    width: 120px;
    margin-left: 40px;
    text-align: center;
}

.blue-bar {
    position: absolute;
    margin-left: -21px;
    top: 0;
    background: #0065fc;
    width: 162px;
    height: 2px;
    opacity: 0;
}

menu a {
    text-decoration: none;
    color: black;
}

menu a:hover {
    color: #0065fc;
}

menu a:hover .blue-bar {
    opacity: 1;
}

/* ----------------------------------------- */

#header__title1 {
    margin-top: 31px;
    font-weight: 700;
    font-size: 22px;
}
#header__title2 {
    margin-top: 8px;
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 25px;
}
/* ----------------------------------------- */
#header__search {
    display: flex;
    flex-direction: row;
    height: 50px;
}
#header__search form {
    display: flex;
    flex-direction: row;
}
form input {
    font-size: 1.125em;
}
#header__search--icon {
    min-width: 50px;
    min-height: 49px;
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
}
#header__search--icon i {
    padding-top: 13px;
    font-size: 18px;
}
#header__search--search input {
    border: solid 1px #F2F2F2;
    width:230px ;
    height: 49px;
}
#header__search--search ::placeholder {
    padding-left: 10%;
    color: black;
    font-size: 1.125em;
    font-weight: 900;
    font-family: 'Raleway';
}
#header__search--submit input {
    font-weight: bold;
    color: white;
    background: #0065fc;
    border-color: #0065fc;
    width: 132px;
    height: 49px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#header__search--submit button {
    display: none;
    color: white;
    background: #0065fc;
    border-color: #0065fc;
    width: 50px;
    height: 49px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/* ----------------------------------------- */
#header__filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-self: center;
    max-width: 1000px;
    margin: 30px 0px 30px 0px;
    max-height: 50px;
}
.filter__choice {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    width: 100%;
}
#header__filter h3 {
    margin-right: 20px;
}
#header__filter button {
    
    border-radius: 25px;
    
    width: 100%;
    height: 50px;
    
    background: white;
    border-color: #D9D9D9;
    border-style: solid;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
#header__filter button i {
    color: #0065fc;
    margin-right: 10px;
}
#header__filter button:hover {
    background-color: #deebff;
}

/* ----------------------------------------- */
#header__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    block-size: 24px;
}
#header__info h5{
    padding-left: 10px;
}

.info {
    border-radius: 50%;
    font-size: 10px;
    width: 24px;
    height: 24px;
    border: #d9d9d9 solid 2px;
    color: #0065fc;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    box-sizing: border-box; /* Permet de conserver la taille exacte des éléments malgré les padding et les bordures */
}

/* ----------------------------------------- */
/* ---------------HARBORING----------------- */
/* ----------------------------------------- */

#harboring {
    display: flex;
    
    
}
#harboring--title {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#harboring__marseille {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 20px;
    max-height: 880px;
}
#harboring__marseille__lodging {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    align-content: space-evenly;
    width: 100%;
    min-height: 500px;
}

.lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 246px;
    height: 199px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: #d9d9d9 3px 3px 10px 2px;
}
.lodging img {
    object-fit: cover;
    width: 100%;
    height: 120px;

    border-radius: 15px 15px 0px 0px;
}
.lodging__name-price-star {
}
.lodging__name {
    font-weight: bold;
    font-size: 1em;
    margin-left: 1em;
}
.lodging__price {
    margin-left: 1em;
}
.lodging__star {
    margin-left: 1em;
    display: flex;
}
#more {
    padding-top: 20px;
    margin-left: 40px;
    font-weight: bold;
    height: 40px;
}

/* ----------------------------------------- */
/* --------------MOSTPOPULAR---------------- */
/* ----------------------------------------- */

#harboring__mostpopular {
    margin-left: 2%;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 420px;
}
#mostpopular__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:60px 20px 0px 20px;
}
#mostpopular__title-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    block-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
#mostpopular--title {
    font-weight: bold;
    font-size: 22px;
}
#mostpopular--icon {
    align-self: flex-end; /* aligne le bas de l'icône avec le bas du texte */
}
span.graph {
    color: #0065fc;
    font-size: 18px;
}
.mostpopular__lodging {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: 300px;
    max-width: 343px;
    height: 144px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 33px;
    padding: 5px;
    box-shadow: #d9d9d9 3px 3px 10px 2px;
}
.mostpopular--title-price-star {
    display: grid;
}
.mostpopular--title {
    padding-top: 16px;
    font-weight: bold;
    max-width: 178px;
}
.mostpopular--price {
    padding-top: 7px;
}
.mostpopular__lodging img {
    object-fit: cover;
    width: 137px;
    height: 144px;
    border-radius: 15px 0px 0px 15px;
}

.mostpopular--star {
    display: flex;
    margin-top: auto;
    margin-bottom: 12px;
}
span.star1 {
    color: #0065fc;
    font-size: 12px;
}
span.star2 {
    color: #0065fc;
    font-size: 12px;
}
span.star3 {
    color: #0065fc;
    font-size: 12px;
}
span.star4 {
    color: #0065fc;
    font-size: 12px;
}
span.star5 {
    color: #f2f2f2;
    font-size: 12px;
}

/* ----------------------------------------- */
/* -----------------ACTIVITE---------------- */
/* ----------------------------------------- */

#activity {
    margin-top: 20px;
    max-width: 1350px;
}
#activity--title {
    margin-bottom: 20px;
    font-weight: 700;
}
#activity--title-mobile {
    display: none;
}
#activity__marseille {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4%;
    width: 100%;
}
.activity__places {
    display: flex;
    flex-direction: column;

    height: 100%;
    max-width: 302px;

    border-radius: 20px;
    box-shadow: #d9d9d9 3px 3px 10px 2px;
}
.activity__places {
}
.activity__places img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activity__places--title {
    margin-top: 10px;
    margin-left: 10px;
    height: 43px;
    font-weight: 700;
}

/* ----------------------------------------- */
/* ------------------FOOTER----------------- */
/* ----------------------------------------- */

FOOTER {
    background: #f2f2f2;
    max-width: 1350px;
}
#footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 45px;
    margin-left: 70px;
    width: 70%;
}

footer li {
    margin-bottom: 12px;
}

footer h3 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 45px;
    margin-bottom: 20px;
}
footer a {
    font-size: 1em;
    line-height: 0.5em;
}

/* ----------------------------------------- */
/* ----------RESPONSIVE TABLETTE------------ */
/* ----------------------------------------- */

@media screen and (max-width: 992px) {
    body {
        padding: 40px 40px 0px 40px;
    }

    nav li {
        text-align: right;
        margin: 0;
    }

    .blue-bar {
        display: none;
    }
       

    #header__filter li {
        margin-right: 20px;
    }
    #harboring {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #harboring__marseille {
        
        
    }
    #harboring__marseille__lodging {
    }
    #harboring__mostpopular {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 450px;
        margin-top: 40px;
        margin-left: 0;
        width: 100%;
    }
    #more {
        padding-top: 10px;
    }
    #mostpopular__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-left: 20px;
    }
    #mostpopular__title-icon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;

        align-items: center;
        margin-right: 25px;
        margin-left:35px;
        margin-bottom: 30px;
    }
    .mostpopular__lodging {
        width: 97%;
        height: 144px;
        min-width: 252px;
    }
    .mostpopular--title {
        padding-top: 16px;
        font-weight: bold;
        max-width: 150px;
    }
    .mostpopular--price {
        padding-top: 7px;
    }
    .mostpopular__lodging img {
        width: 106px;
        height: 144px;
    }
    .mostpopular--title-price-star {
        max-width: 100px;
        padding-left: 10px;
    }
    .mostpopular--star {
        margin-top: auto;
        margin-bottom: 12px;
    }
    #activity {
        max-width: 992px;
    }
    #activity__marseille {
    }
    .activity__places {
    }
    .activity__places img {
        max-height: 218px;
    }
    footer {
        max-width: 880px;
    }
}

/* ----------------------------------------- */
/* -----------RESPONSIVE MOBILE------------- */
/* ----------------------------------------- */

@media screen and (max-width: 768px) {
    body {
        padding: 0px 0px 0px 0px;
    }
    #header__title1,
    #header__title2,
    #header__search,
    #header__filter,
    #header__info {
        padding: 10px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 3950px;
    }
    #header__title1 {
        margin-top: 56px;
        margin-bottom: 13px;
    }
    #header__title2 {
        padding-bottom: 36px;
    }
    #header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    #header__logo {
        margin-bottom: 48px;
    }
    nav li {
        text-align: center;
        margin: 0;
    }
    nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    menu {
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 0;
    }

    menu li {
        width: 100%;
        margin: 0px;
    }

    .blue-bar {
        display: flex;
        position: relative;
        margin: 0px;
        padding: 0;
        top: auto;
        bottom: -45px;
        background: #f2f2f2;
        width: 100%;
        height: 3px;
        opacity: 1;
    }

    menu a:hover .blue-bar {
        background: #0065fc;
    }

    #header__search {
        max-width: 768px;
        height: 50px;
    }
    #header__search--search input {
        width: 100%;
        
    } 
    
    #header__search--submit input {
        display: none;
    }
    #header__search--submit button {
        display: block;
    }
    #header__filter {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        padding-bottom: 50px;
    }
    #header__filter h3 {
        padding-bottom: 20px;
    }
    .filter__choice {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 14px;
        grid-row-gap: 17px;
        width: 100%;
    }
    .filter__choice i {
        font-size: 18px;
    }
    #header__info {
        padding-top: 40px;
    }
    #harboring {
        display: flex;
        flex-direction: column-reverse;

        max-height: 3950px;
        width: 100%;
    }
    #harboring__mostpopular {
        width: 100%;
        max-width: 880px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        max-height: 580px;
        padding-bottom: 26px;
        border-radius: 0px;
    }
    #mostpopular__flex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        padding-top: 26px;
        max-height: 500px;
    }

    #mostpopular__title-icon {
        margin-left: 10px;
        margin-right: 0px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #mostpopular--icon {
        align-self: flex-start;
    }
    .mostpopular__lodging{
        min-width: 100%;
    }
    .mostpopular__lodging img {
        object-fit: cover;
        max-width: 137px;
        height: 144px;
        width: 100%;
        max-width: 450px;
    }
    .mostpopular--title-price-star {
        max-width: 100%;
    }
    .mostpopular--title {
        padding-top: 16px;
        font-weight: bold;
        max-width: 150px;
    }
    #harboring--title {
        margin-left: 10px;
        margin-bottom: 0px;
        padding-left: 10px;
    }
    #harboring__marseille {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-height: 5000px;
        background-color: white;
    }
    #harboring__marseille__lodging {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        min-height: 1400px;
        padding: 10px;
        width: 95%;
    }
    .lodging {
        width: 100%;
        height: 199px;
    }
    .lodging img {
        width: 100%;
    }
    #more {
        display: none;
    }

    #activity {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        margin-top: 0px;
    }
    #activity__marseille {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .activity__places {
        min-width: 100%;
        height: 190px;
        margin-bottom: 20px;
    }
    .activity__places img {
        width: 100%;
        height: 134px;
        object-fit: cover;
    }
    .activity__places--title {
        max-height: 20px;
    }
    .activity__places--title h4 {
        font-size: 16px;
        font-weight: bold;
        margin-left: 19px;
        margin-top: 15px;
    }
    FOOTER {
        width: 100%;
        margin: 0 auto;
    }
    #footer__nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        width: 100%;
        margin: auto;
    }
    #footer__about,
    #footer__harboring,
    #footer__assistance {
        margin-left: 30px;
    }
}
